.heading {
    width: 100%;
    text-align: left;
}

.heading h3{
 display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image{
width: 100%;
}

#start,#status{
    font-size: 22px;
    
}


.instruction_image{
    display: inline-block;
    width : 45%;
}

    
canvas{
    box-shadow: 10px 10px 10px blue;
    margin-top: 120px;
    border-radius: 10px;


}

.copy_right_footer{
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    line-height: 3;   
    text-align: center;
   }